body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#item {
    height: 20px;
    width: 25%;
    border-radius: 5px;
}

.btn {
    padding: 5px;
    border-radius: 5px;
    background-color: lightgreen;
}

.btn:hover {
    cursor: pointer;
}
