@import url("https://fonts.googleapis.com/css?family=Montserrat");

body,
html {
  background-color: #fff8f0;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", "sans-serif";
}

.strike {
  text-decoration: line-through;
  background: rgba(255, 229, 100, 0.2);
  color: #1a1a1a;
  transition-timing-function: ease-out;
  /* A litttttle slower on the way in */
  transition: 0.25s;
  /* Move into place */
  transform: translateY(0);
}

main {
  padding: 5px;
  height: 100%;
  position: relative;
  overflow: hidden;
  left: 5%;
}
ul {
  list-style: none;
  width: 50%;
}

ul li {
  border-bottom: 1px dotted red;
  margin-bottom: 5px;
}
